div.container
  p#aloha Hi World!
  button.btn.btn-blue Click Me

// <div class="container">
//   <p id="aloha">Hi World!</p>
//   <button class="btn btn-blue">Click Me</button>
// </div>

img(src="fish.png" alt="Many fish")

// <img src="fish.png" alt="Many fish">

img(src=`${name}.jpg` alt=`This is ${name}`)

// <img src="Name.jpg" alt="This is Name">


